﻿<h1 class="text-center text-danger">Add Employee</h1>
<br/>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                <label for="inputEmail">Name</label>
                <input type="text" ng-model="name" class="form-control input-lg" placeholder="Name" />
            </div>
            <div class="form-group">
                <label for="inputPassword">City</label>
                <input type="text" ng-model="city" class="form-control input-lg" placeholder="City" />
            </div>

            <button ng-click="addEmp()" class="btn btn-info form-control imput-lg">Save</button>
        </form>
    </div>
</div>