﻿<div class="row">
    <h1 class="text-cemter text-danger">Employees</h1>
    <hr/>

    <div class="row">
        <div class="col-md-9 co-md-offset-1">
            <input type="text" placeholder="Type to filter here" class="input-lg form-control-comtrol" ng-model="txtFilter"/>
            <br/>
            <br/>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tr ng-repeat="a in emps | filter: txtFilter">
                    <td>{{ a.Name }}</td>
                    <td>{{ a.Gender }}</td>
                    <td>{{ a.City }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>